.add-book, .form-buttons {
  width: 50%;
  margin: 0 auto;
}

mat-form-field {
  width: 100%;
}

.heading {
	text-align: center;
	text-decoration: underline;
}

.form-buttons {
	margin-bottom: 20px;
}