.container {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
}

.table-header {
  height: 40px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

mat-table {
    display: table;
    width: 100%;
    > .mat-header-row, > .mat-row {
        display: table-row;
        padding: 0;
        border: none;
        > .mat-header-cell, > .mat-cell {
            display: table-cell;
            height: 48px;
            vertical-align: middle;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        }
    }
}

.mat-header-cell, .mat-cell {
  padding-top: 18px;
}

.choose-fields {
  padding: 20px 0px 0px 10px;
}

.customize-container {
  margin-bottom: 20px;
}

.fields-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.field-margin {
  margin: 0 10px;
}

.text-center {
  text-align: center;
}